/* --------------------------- Font --------------------------- */

@font-face {
    font-family: "Ubuntu";
    src: url("Ubuntu-M.ttf") format("truetype");
}

/* --------------------------- Header --------------------------- */

#banner {
    width: 100%;
    height: 15vh;
    /*background-color: gray;*/
    background-image: url(assets/Uma\ mesa\ de\ madeira\ em\ um\ restaurante\ fundo\ desfocado\ _\ Foto\ Premium.jpg);
    background-position: center;
    background-size: contain;
    color: white;
    font-size: 2em;
    font-family: Ubuntu;
    text-align: center;
    line-height: 14vh;
}
/* --------------------------- Nav --------------------------- */
#menu {
    display: flex;
    position: relative;
    flex-direction: row;
    z-index: 2;
}
.menuBarra {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 16px;
    gap: 32px;
    background-color: #191919;/*COR DE TESTE*/
    height: 60px;
    opacity: 0.9;
}
.menuIcon {
    cursor: pointer;
    display: flex;
    height: 32px;
    width: 32px;
}
.menuItens {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: 24px;
    padding: 0px;
    background-color: #191919;
}
.logo svg {
    width: 32px;
    height: 32px;
}
.menuItens > li > a {
    color: white;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    text-decoration: none;
    font-weight: 500;
    background-image: linear-gradient(to right, white), white 50%;
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 3px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.2s ease-in-out;
}
.menuItens > li > a:before {
    content: '';
    background-color: white;
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.2s ease-in-out;
}
.menuItens > li > a:hover {
    background-position: 0;
}
.menuItens > li > a:hover {
    width: 100%;
}

/* --------------------------- Main --------------------------- */
main {
    padding: 0px;
    width: 100%;
    min-width: 320px;
    max-width: 900px;
    margin: 0px auto;
    flex-grow: 1;
}
/* --------------------------- Form --------------------------- */

#input-data {
    width: 90vw;
    font-family: Ubuntu;
    margin: 0 auto;
    margin-top: 5vh;
    display: flex;
}

.input-text {
    flex: 1;
    min-width: 210px;
    margin: 5px;
    height: 35px;
    padding-left: 5px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #262626;
    transition: 0.25s;
    outline: none;
}

.input-text:focus{
    border-color: gray;
}

.input-btn {
    flex: 1;
    margin: 5px;
    height: 39px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #262626;
    cursor: pointer;
    transition: 0.3s all ease;
}

.input-btn:hover {
    background-color: #383838;
    border-color: #383838;
    color: white;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

/* --------------------------- Table --------------------------- */

#myTable {
    font-family: Ubuntu;
    width: 90%;
    margin: 0 auto;
    margin-top: 5vh;
    border-collapse: collapse;
}

#myTable th {
    background-color: gray;
    padding: 10px;
    color: white;
    font-weight: 100;
}

#myTable td, th{
    border: 1px solid #ddd;
    padding: 8px;
}

#myTable td{
    padding: 5px;
    text-align: center;
}

#myTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#myTable tr:hover {
    background-color: #ddd;
}
.remove-btn{
    width: 100%;
    height: 100%;
    text-align: center;
    border-width: 0px;
    background-color: transparent;
    cursor: pointer;
}
/* --------------------------- Footer --------------------------- */
footer {
    color: #1d1d1d;
    background-color: #e4e4e4;
    text-align: center;
    height: 60px;
    width: 100%;
    font-family: Ubuntu;
}
@media (min-width: 600px) {
    .menuIcon {
        display: none;
    }
}
@media (max-width: 600px) {
    .menuItens {
        display: none;
    }
    .menuIcon {
        display: block;
    }
    .menuItens-mover {
        top: 48px;
        position: absolute;
        right: 8px;
        display: flex;
        padding: 80px 60px;
        min-height: 100%;
        background-color: #191919;
        gap: 8px;
        flex-direction: column;
        align-items: flex-start;
        opacity: 0.95;
        animation: fadein 0.3s forwards;
    }
    
    @keyframes fadein {
        0% {
            opacity: 0;
            width: 0;
            height: 0;
        }
        100% {
            opacity: 1;
            width: 100%;
            height: calc(100vh - 48px);
        }
    }
    .menuItens-mover-fadeout {
        animation: fadeout 300ms forwards;
    }
    @keyframes fadeout {
        0% {
            
            opacity: 1;
            width: 100%;
            height: calc(100vh - 48px);
        }
        100% {
            opacity: 0;
            width: 0;
            height: 0;
        }
    }
}
